<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<h1>Simple server file storage</h1>

<hr/>

<h4>Upload files:</h4>
<form id="uploadForm" name="upForm" action="/" method="get">
    <input type="file" id="fileInput" name="files"> <br/><br/>
    <button type="button" onclick="sendFile()">Upload</button>
</form>

<hr/>

<h2>Files in storage:</h2>

<table >
    <th:block th:each="file : ${files}">
        <tr>
            <td th:text="${file.key}"></td>
            <td><button onclick="download(event)" th:name="${file.value}">Download</button></td>
        </tr>
    </th:block>
</table>

<hr/>

<form id="deleteForm" name="delForm" action="/" method="get">
    <button type="button" onclick="deleteAll()">Delete all files</button>
</form>

</body>
</html>

<script type="text/javascript">

    async function sendFile() {
        let file = fileInput.files[0];
        let oldFormData = new FormData();
        console.log("Got the file");
        if (document.getElementById("fileInput").files.length === 0) {
            console.log("No file is selected");
            return;
        }
        let encryptedFile = await encryptFile(file);
        console.log("Encrypted new file");
        let encFilename = file.name + '.enc';
        oldFormData.append("files", encryptedFile, encFilename);
        console.log("Set new file");
        let response = await fetch('/upload', {
            method: 'POST',
            body: oldFormData
        });
        console.log("Got response");
        let result = await response.json();
        if (response.ok) {
            console.log("File uploaded: " + result.name);
        } else {
            alert("The error occurred while sending file to server. Repeat Sending please");
        }
        fileInput.disabled = true;
        uploadForm.submit();
    }

    var objFile=null;
    // TODO: Add passphrase into form.
    let passphrase = "SOME_CUSTOM_PASSPHRASE"

    function readFile(file){
        return new Promise((resolve, reject) => {
            var fr = new FileReader();
            fr.onload = () => {
                resolve(fr.result)
            };
            fr.readAsArrayBuffer(file);
        });
    }

    async function encryptFile(Files) {
        objFile=Files;
        // objFile=Files[0];

        var plainTextBytes=await readFile(objFile)
            .catch(function(err){
                console.error(err);
            });
        plainTextBytes=new Uint8Array(plainTextBytes);

        var pbkdf2iterations=10000;
        var passphraseBytes=new TextEncoder("utf-8").encode(passphrase);
        // var passphraseBytes=new TextEncoder("utf-8").encode(txtEncpassphrase.value);
        var pbkdf2salt=window.crypto.getRandomValues(new Uint8Array(8));

        var passphrasekey=await window.crypto.subtle.importKey('raw', passphraseBytes, {name: 'PBKDF2'}, false, ['deriveBits'])
            .catch(function(err){
                console.error(err);
            });
        console.log('passphrasekey imported');

        var pbkdf2bytes=await window.crypto.subtle.deriveBits({"name": 'PBKDF2', "salt": pbkdf2salt, "iterations": pbkdf2iterations, "hash": 'SHA-256'}, passphrasekey, 384)
            .catch(function(err){
                console.error(err);
            });
        console.log('pbkdf2bytes derived');
        pbkdf2bytes=new Uint8Array(pbkdf2bytes);

        keybytes=pbkdf2bytes.slice(0,32);
        ivbytes=pbkdf2bytes.slice(32);

        var key=await window.crypto.subtle.importKey('raw', keybytes, {name: 'AES-CBC', length: 256}, false, ['encrypt'])
            .catch(function(err){
                console.error(err);
            });
        console.log('key imported');

        var cipherbytes=await window.crypto.subtle.encrypt({name: "AES-CBC", iv: ivbytes}, key, plainTextBytes)
            .catch(function(err){
                console.error(err);
            });

        if(!cipherbytes) {
            spnEncstatus.classList.add("redspan");
            spnEncstatus.innerHTML='<p>Error encrypting file.  See console log.</p>';
            return;
        }

        console.log('plaintext encrypted');
        cipherbytes=new Uint8Array(cipherbytes);

        var resultbytes=new Uint8Array(cipherbytes.length+16)
        resultbytes.set(new TextEncoder("utf-8").encode('Salted__'));
        resultbytes.set(pbkdf2salt, 8);
        resultbytes.set(cipherbytes, 16);

        return new Blob([resultbytes], {type: 'image/jpeg'});
    }

    async function deleteAll(e) {
        let response = await fetch('/delete', {
            method: 'POST'
        });
        if (!response.ok) {
            alert("The error occurred while sending file to server. Repeat Sending please");
        }
        deleteForm.submit()
    }

    async function download(event) {
        console.log(event.target.name);
    }

</script>