<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<link href="/css/main.css" rel="stylesheet">

<h1>Simple server file storage</h1>

<hr/>

<h3>Upload files:</h3>
<div>Type password for the file (should contain min. 8 symbols)</div>
<div class="divTable">
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell">Password</div>
            <div class="divTableCell">
                <input id=txtEncpassphrase type=password size=30 onkeyup=encvalidate(); value=''>
            </div>
            <div class="divTableCell"><span class=greenspan id=spnCheckretype></span></div>
        </div>
    </div>
</div>
<form id="uploadForm" name="upForm" action="/" method="get">
    <input type="file" id="fileInput" name="files" onchange="selectFile(this.files)"> <br/><br/>
    <button type="button" id="uploadButton" onclick="sendFile()" disabled>Upload</button>
</form>

<hr/>

<h2>Files in storage:</h2>

<table >
    <th:block th:each="file : ${files}">
        <tr>
            <td th:text="${file.key}"></td>
            <td><button onclick="download(event)" th:name="${file.value}" th:value="${file.key}">Download</button></td>
        </tr>
    </th:block>
</table>

<hr/>

<form id="deleteForm" name="delForm" action="/" method="get">
    <button type="button" onclick="deleteAll()">Delete all files</button>
</form>

<script src="/js/main.js"></script>
</body>
</html>